@charset "UTF-8";
.global-con {
  background: #FFF no-repeat bottom;
  background-position: 50%;
  background-size: cover;
  .con-ft-block {
    font-size: 40px;
    color: #4a4a4a;
    text-align: center;
    margin: auto;
    padding-top: 72px;
    opacity: 0;
    transition: all ease-in .9s 300ms;
    -webkit-transition: all ease-in .9s 300ms;
    -moz-transition: all ease-in .9s 300ms;
    -o-transition: all ease-in .9s 300ms;
  }
  .con-ft-sm {
    opacity: 0;
    transition: all ease-in .9s 800ms;
    -webkit-transition: all ease-in .9s 800ms;
    -moz-transition: all ease-in .9s 800ms;
    -o-transition: all ease-in .9s 800ms;
  }
  .ft-color-FFF {
    color: #FFFFFF;
  }
  .ft-color-black {
    color: #000000;
  }
}

.global-con1 {
  background-color: rgb(61, 61, 61);
  height: 800px;
  .con-ft-block {
    padding-top: 240px;
    width: 700px;
    text-align: left;
    h2 {
      font-size: 44px;
      color: #FFFFFF;
    }
    h3 {
      font-size: 64px;
      color: #74c92e;
      margin-top: 15px;
      margin-bottom: 26px
    }
    p {
      color: #FFFFFF;
      font-size: 18px;
    }
  }
}

.global-con2 {
  height: auto;
  background: rgb(231, 233, 240);
  .con-ft-block {
    padding-top: 60px;
    height: 300px;
    text-align: center;
    transition: all ease-in 0s 0s;
    -webkit-transition: all ease-in 0s 0s;
    -moz-transition: all ease-in 0s 0s;
    -o-transition: all ease-in 0s 0s;
    h2 {
      font-size: 36px;
      color: #74c92e;
      letter-spacing: 2px;
      margin-bottom: 44px;
    }
    h3 {
      font-size: 28px;
      color: #6e6e6e;
      margin-bottom: 24px;
    }
    p {
      font-size: 20px;
      color: #6e6e6e;
      margin-bottom: 5px;
      line-height: 32px;
    }
  }
  .con-ft-block-first {
    height: 360px;
  }
  .con-ft-block-plane {
    cursor: pointer;
  }
  .con-ft-block-active {
    background: #73c92d;
    h3 {
      transition: all ease-in 0s 0s;
      -webkit-transition: all ease-in 0s 0s;
      -moz-transition: all ease-in 0s 0s;
      -o-transition: all ease-in 0s 0s;
      color: #FFF;
    }
    p {
      transition: all ease-in 0s 0s;
      -webkit-transition: all ease-in 0s 0s;
      -moz-transition: all ease-in 0s 0s;
      -o-transition: all ease-in 0s 0s;
      color: #FFF;
    }
  }
}

.global-con3 {
  background-color: rgb(22, 24, 63);
  height: 602px;
  .con-ft-block {
    padding-top: 180px;
    h2 {
      font-size: 36px;
    }
    h3 {
      margin: 40px 0 24px;
      font-size: 32px;
    }
    p {
      font-size: 22px;
    }
  }
}

.global-con4 {
  background-color: rgb(236, 236, 236);
  height: 750px;
  .con-ft-block {
    padding-top: 100px;
    h2 {
      font-size: 36px;
      color: #707070;
      margin-bottom: 26px;
    }
    p {
      font-size: 20px;
      color: #707070;
      line-height: 36px;
    }
  }
}

.global-con5 {
  height: 600px;
  .con-ft-block {
    padding-top: 190px;
    text-align: center;
    left: 50%;
    h2 {
      font-size: 36px;
      color: #707070;
      margin-bottom: 26px;
    }
    p {
      font-size: 20px;
      color: #707070;
      line-height: 36px;
    }
  }
}

.global-con6 {
  background: #73c92d;
  height: 700px;
  .con-ft-block {
    padding-top: 100px;
    h2 {
      font-size: 36px;
      margin-bottom: 26px;
    }
    p {
      font-size: 20px;
      line-height: 36px;
    }
    img {
      height: 248px;
      margin-top: 70px;
    }
  }
}

.global-con7 {
  background-color: rgb(78, 116, 155);
  height: 750px;
  .con-ft-block {
    padding-top: 140px;
    h2 {
      font-size: 36px;
      margin-bottom: 40px;
    }
    h3 {
      font-size: 32px;
      margin-bottom: 20px;
    }
    p {
      font-size: 20px;
      line-height: 36px;
    }
  }
}

.global-con8 {
  height: 610px;
  background-color: rgb(72, 72, 78);
  .con-ft-block {
    padding-top: 180px;
    img {
      height: 199px;
    }
  }
}

@media (max-width: 767px) {
  .global-con1 {
    height: 240px;
    .con-ft-block {
      padding-top: 50px;
      width: 330px;
      h2 {
        font-size: 24px;
      }
      h3 {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 20px
      }
      p {
        font-size: 14px;
      }
    }
  }

  .global-con2 {
    height: auto;
    .con-ft-block {
      padding: 10px 10px 20px;
      height: auto;
      h2 {
        font-size: 22px;
        margin-bottom: 20px;
      }
      h3 {
        font-size: 16px;
        margin-bottom: 18px;
      }
      p {
        font-size: 14px;
        margin-bottom: 5px;
        line-height: 22px;
      }
    }
    .con-ft-block-first {
      height: 180px;
    }
  }

  .global-con3 {
    height: 222px;
    .con-ft-block {
      padding-top: 40px;
      h2 {
        font-size: 22px;
      }
      h3 {
        margin: 30px 0 20px;
        font-size: 18px;
      }
      p {
        font-size: 13px;
      }
    }
  }

  .global-con4 {
    height: 520px;
    .con-ft-block {
      padding-top: 20px;
      h2 {
        font-size: 20px;
        margin-bottom: 12px;
      }
      p {
        font-size: 14px;
        line-height: 26px;
      }
    }
  }

  .global-con5 {
    height: 200px;
    .con-ft-block {
      padding-top: 30px;
      margin-left: 0px;
      width: auto;
      h2 {
        font-size: 20px;
        margin-bottom: 20px;
      }
      p {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  .global-con6 {
    height: 290px;
    .con-ft-block {
      padding-top: 20px;
      h2 {
        font-size: 20px;
        margin-bottom: 14px;
      }
      p {
        font-size: 14px;
        line-height: 20px;
      }
      img {
        height: 100px;
        margin-top: 20px;
      }
    }
  }

  .global-con7 {
    height: 480px;
    .con-ft-block {
      padding-top: 20px;
      h2 {
        font-size: 24px;
        margin-bottom: 26px;
      }
      h3 {
        font-size: 18px;
        margin-bottom: 18px;
      }
      p {
        font-size: 14px;
        line-height: 24px;
        label {
          width: 100%;
          display: inline-block;
          height: 60px;
        }
      }
    }
  }

  .global-con8 {
    height: 240px;
    .con-ft-block {
      padding-top: 80px;
      img {
        height: 80px;
      }
    }
  }
}