.xf-con {
  height: 854px;
  background: #FFF no-repeat bottom;
  background-position: 50%;
  background-size: cover;
  .con-ft-block {
    font-size: 40px;
    color: #4a4a4a;
    text-align: center;
    margin: auto;
    padding-top: 72px;
    opacity: 0;
    transition: all ease-in .9s 300ms;
    -webkit-transition: all ease-in .9s 300ms;
    -moz-transition: all ease-in .9s 300ms;
    -o-transition: all ease-in .9s 300ms;
  }
  .con-ft-sm {
    opacity: 0;
    transition: all ease-in .9s 500ms;
    -webkit-transition: all ease-in .9s 500ms;
    -moz-transition: all ease-in .9s 500ms;
    -o-transition: all ease-in .9s 500ms;
  }
  .ft-color-FFF {
    color: #FFFFFF;
  }
  .ft-color-black {
    color: #000000;
  }
}

.xf-con1 {
  height: 810px;
  .con-ft-block {
    text-align: left;
    padding-left: 120px;
    margin-top: 130px;
    h2 {
      font-size: 48px;
      color: #6e6e6e;
    }
    p {
      margin-top: 50px;
      font-size: 24px;
      color: #6e6e6e;
      line-height: 36px;
    }

  }
}

.xf-con2 {
  background-color: #FFFFFF;
  height: 800px;
  .con-ft-block {
    h2 {
      font-size: 48px;
      color: #73c92d;
      line-height: 50px;
      span {
        font-size: 40px;
        color: #4a4a4a;
      }
    }
  }
  .con-ft-sm {
    margin-top: 38px;
    text-align: center;
    p {
      font-size: 24px;
      color: #6e6e6e;
      margin-bottom: 10px;
    }
    img {
      height: 557px;
    }
  }
}

.xf-con3 {
  height: 900px;
  position: relative;
  .con-ft-block {
    h2 {
      font-size: 48px;
      color: #73c92d;
      line-height: 50px;
      span {
        font-size: 36px;
        color: #e9e9e9;
      }
    }
  }
  .con-ft-sm3 {
    p {
      font-size: 20px;
      color: #e9e9e9;
      line-height: 32px;
      text-align: center;
      margin-top: 20px;
    }
  }
  .sm3-arrow {
    width: 361px;
    position: absolute;
    top: 390px;
    left: 50%;
    margin-left: -184px;
    opacity: 0.8;
    animation: linear arraw-circle infinite 5s;
    -webkit-animation: linear arraw-circle infinite 5s;
    -moz-animation: linear arraw-circle infinite 5s;
    -o-animation: linear arraw-circle infinite 5s;
  }
}

.slide-awesome {
  position: relative;
  height: 850px;
}

.xf-con4 {
  height: 850px;
  width: 100%;
  .con-ft-block1 {
    padding-right: 660px;
    text-align: right;
    padding-top: 320px;
    h2 {
      font-size: 48px;
      color: #6e6e6e;
      line-height: 50px;
    }
    p {
      margin-top: 40px;
      font-size: 18px;
      color: #6e6e6e;
    }
  }
}

.xf-con5 {
  height: 850px;
  width: 100%;
  .con-ft-block1 {
    padding-right: 660px;
    text-align: right;
    padding-top: 320px;
    h2 {
      font-size: 48px;
      color: #6e6e6e;
      line-height: 50px;
    }
    p {
      margin-top: 40px;
      font-size: 20px;
      color: #6e6e6e;
    }
  }
}

.xf-con6 {
  .con-ft-block {
    padding-top: 140px;
    h2 {
      font-size: 36px;
      color: #ffffff;
    }
    p {
      font-size: 24px;
      color: #ffffff;
      line-height: 36px;
    }
    img {
      height: 262px;
      margin-top: 93px;
    }
  }
}

.xf-con7 {
  height: 550px;
  background-color: rgb(236, 238, 243);
  .con-ft-block {
    padding-top: 70px;
    font-size: 22px;
    color: #6e6e6e;
    line-height: 36px;
    text-align: center;
  }
  .con-ft-sm {
    text-align: center;
    margin-top: 50px;
    img {
      height: 299px;

    }
  }
}

.xf-con8 {
  height: 870px;
  .con-ft-block {
    padding-top: 50px;
    h2 {
      font-size: 36px;
      color: #73c92d;
      line-height: 50px;
    }
    img {
      margin-top: 30px;
      height: 655px;
    }
  }
}

.xf-con9 {
  height: 800px;
  background-color: #f1f1f1;
  .con-ft-block {
    padding-top: 50px;
    img {
      height: 681px;
    }
  }
}

.xf-con-img {
  width: 100%;
  min-height: 172px;
}

@media screen and (max-width: 767px) {
  .xf-con-img1 {
    height: 73.734vw;
  }
  .xf-con-img2 {
    height: 128.94vw;
  }
  .xf-con-img3 {
    height: 129.2vw;
  }
  .xf-con-img4 {
    height: 133.6vw;
  }
  .xf-con-img5 {
    height: 98.4vw;
  }
  .xf-con-img6 {
    height: 80.27vw;
  }
  .xf-con-img7 {
    height: 131.2vw;
  }
  .xf-con-img9 {
    height: 103.74vw;
  }
  .xf-con-img10 {
    height: 111.734vw;
  }
}

@keyframes arraw-left-right {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  90% {
    transform: translateX(120px);
    opacity: 1;
  }
  91% {
    transform: translateX(120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 0;
  }
}

@-webkit-keyframes arraw-left-right {
  00% {
    transform: translateX(0px);
    opacity: 1;
  }
  90% {
    transform: translateX(120px);
    opacity: 1;
  }
  91% {
    transform: translateX(120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 0;
  }
}

@-moz-keyframes arraw-left-right {
  00% {
    transform: translateX(0px);
    opacity: 1;
  }
  90% {
    transform: translateX(120px);
    opacity: 1;
  }
  91% {
    transform: translateX(120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 0;
  }
}

@-o-keyframes arraw-left-right {
  00% {
    transform: translateX(0px);
    opacity: 1;
  }
  90% {
    transform: translateX(120px);
    opacity: 1;
  }
  91% {
    transform: translateX(120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 0;
  }
}

@keyframes arraw-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes arraw-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@-moz-keyframes arraw-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@-o-keyframes arraw-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes moikit-tita-b-img-animate {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(2px, 2px);
  }
  40% {
    transform: translate(2px, 3px);
  }
  60% {
    transform: translate(0px, 2px);
  }
  80% {
    transform: translate(-3px, 2px);
  }
  100% {
    transform: translate(-0px, 0px);
  }
}

@-webkit-keyframes moikit-tita-b-img-animate {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(2px, 2px);
  }
  40% {
    transform: translate(2px, 3px);
  }
  60% {
    transform: translate(0px, 2px);
  }
  80% {
    transform: translate(-3px, 2px);
  }
  100% {
    transform: translate(-0px, 0px);
  }
}

@-moz-keyframes moikit-tita-b-img-animate {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(2px, 2px);
  }
  40% {
    transform: translate(2px, 3px);
  }
  60% {
    transform: translate(0px, 2px);
  }
  80% {
    transform: translate(-3px, 2px);
  }
  100% {
    transform: translate(-0px, 0px);
  }
}

@-o-keyframes moikit-tita-b-img-animate {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(2px, 2px);
  }
  40% {
    transform: translate(2px, 3px);
  }
  60% {
    transform: translate(0px, 2px);
  }
  80% {
    transform: translate(-3px, 2px);
  }
  100% {
    transform: translate(-0px, 0px);
  }
}
